
<%= form_for(@offer, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.form_group :title do |f| %>
      <%= f.label :title, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :description do |f| %>
      <%= f.label :description, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_area :description, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :image do |f| %>
        <%= f.label :image, class: 'control-label col-md-2' %>
        <%#= image_tag image_path(@offer.image_url.to_s), width: '20%', class: 'mr-2'%>
        <%= f.file_field :attachment, class: 'form-control' %>
      <div class='col-md-8'>
        <%#= f.file_field :image, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>



    <%= f.form_group :claimurl do |f| %>
      <%= f.label :claimurl, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :claimurl, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", offers_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>
